# --- Carpetas temporales y generadas (ESTO NO SE SUBE) ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
/Assets/AssetStoreTools*

# --- Archivos de solución de Visual Studio / Rider ---
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# --- Archivos del sistema ---
.DS_Store
Thumbs.db

# --- Carpetas de User Settings ---
UserSettings/

# --- Archivos de crash y reportes ---
sysinfo.txt

